<!-- Routing for the angular loader -->
<ngx-loading-bar [color]="'#ED4430'"></ngx-loading-bar>

<!-- Start of the NavBar -->

<header class="site-header">

  <nav class="navbar navbar-expand-md navbar-light bg-steel fixed-top border-bottom">
    
    <div class="container-fluid">
      <a class="navbar-brand mr-5" routerLink="">
        <h6 class="logo fw-bolder">
          DigiNews
        </h6>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">            
        <div class="navbar-nav mr-auto font-weight-light">
          <a class="nav-item nav-link" routerLink="">
            NEWS 
          </a>
          <a class="nav-item nav-link" routerLink="digi">
            DIGICELL
          </a>
          <a class="nav-item nav-link" routerLink="biz">
            BITCOIN
          </a>
          <a class="nav-item nav-link" routerLink="tech">
            TECH
          </a>




          <!-- Removed content section for the Navbar -->
          
          <!-- Profile section -->
          <!-- <a class="nav-item nav-link" href="#">
            PROFILE
          </a> -->


        </div>


          <!-- Navbar Right Side section -->
          <div class="navbar-nav font-weight-light">

            
            <!-- <a class="nav-item nav-link mr-3" href="#">POST</a>


            <a class="nav-item nav-link mr-3" href="#">REGISTER/LOGIN</a> -->


            
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Find a photo..." aria-label="Search">
            </form>
            
            
          </div>

          <!-- <div class="navbar-nav font-weight-light">


            <a class="nav-item nav-link" href="{% url 'logout' %}">
              LOGOUT
            </a>



          </div> -->

        


      </div>
    </div>

  </nav>

</header>

<!-- End of NavBar -->




<router-outlet></router-outlet>




<!-- Start of footer -->

<footer class="mt-5">

  <div class="container bottom text-center border-top">
    <div class="mt-2em">
      <div class="row d-flex justify-content-center icons">
        <a href="https://github.com/ShaviyaVictor" target="_blank">
          <i class="bi bi-github futa"></i>
        </a>
        <a href="https://www.linkedin.com/in/victor-shaviya-532ab0110/" target="_blank">
          <i class="bi bi-linkedin futa"></i>
        </a>
        <a href="https://www.facebook.com/afroignite.house" target="_blank">
          <i class="bi bi-facebook futa"></i>
        </a>
        <a href="https://www.instagram.com/ignition_reads/" target="_blank">
          <i class="bi bi-instagram futa"></i>
        </a>
      </div>
    </div>
    <small>
      <a class="nav-link active" aria-current="page" href="https://rejelea.herokuapp.com/" target="_blank">
        #StopWarInUkraine
      </a>
    </small>
    <h6 class="small text-dark mt-3">
      Copyright &copy; 2022 || All Rights Reserved. ||  NewsApp Created by VictorShaviya
    </h6>
  </div>

</footer>

<!-- End of footer -->

